<!-- Start SignUp Section -->
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Add New Item</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{ this }}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/addItem/?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="title">Price</label>
                <input type="number" id="price" name="price" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="title">Image</label>
                <img src="" alt="your image" class="thumbnail img-responsive" id="imgg">
                <input type="file" id="price" name="myImage" class="form-control" required accept=".jpg, .jpeg, .png" onchange="previewFile()">
            </div>
            <script>
            function previewFile() {
              var preview = document.getElementById('imgg');
              var file    = document.querySelector('input[type=file]').files[0];
              var reader  = new FileReader();

              reader.addEventListener("load", function () {
                preview.src = reader.result;
              }, false);

              if (file) {
                reader.readAsDataURL(file);
              }
            }
            </script>
            <button type="submit" class="btn btn-success">Add Item</button>
        </form>
    </div>
</div>
<!-- End SignUp Section -->
